.heading-text {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.line {
    width: 100%;
}

#header {
    min-width: 100%;
}

#header #navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
}

#header #navigation img {
    align-self: center;
}

#header #navigation label {
    display: block;
}

#header #navigation label i {
    font-size: 4rem;
}


#header #navigation #navbar {
    display: flex;
    flex-direction: column;
    width: 93%;
    padding: 1rem;
    position: absolute;
    margin-top: 5rem;
    background-color: var(--seconday-color);
    opacity: 0.9;
    transition: transform 1.5s ease-in-out ;
    transform: translateX(-100rem);
}

#header #navigation #navbar .main-nav,
#header #navigation #navbar .sec-nav,
#header #navigation #navbar .auth-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    text-align: center;
    width: inherit;
}

#header #navigation #navbar .main-nav li,
#header #navigation #navbar .sec-nav li,
#header #navigation #navbar .auth-nav li {
    padding: 1rem 0;
}

#header #navigation #navbar .main-nav li a,
#header #navigation #navbar .sec-nav li a,
#header #navigation #navbar .auth-nav li a {
    color: var(--primary-color);
}

#header #navigation #navbar .main-nav li:first-of-type a {
    color: var(--primary-color);
    font-weight: 600;
}

#header #navigation #navbar .main-nav li a i {
    display: none;
}

#header #navigation #navbar .sec-nav {
    grid-template-columns: 1fr;
    padding: 0;
}

#header #navigation #navbar .auth-nav {
    grid-template-columns: 1fr;
    padding: 0;
    grid-gap: 0;
    align-items: initial;
}

#header #navigation #navbar .auth-nav li .btn {
    display: inline-block;
    border: none;
    padding: 0;
    background-color: var(--seconday-color);
    border-radius: 0;
    color: var(--primary-color);
    width: inherit;
}

#header #navigation #hamburger:checked + #navbar {
    transform: translateX(0);

}

#header #header-info {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

#header #header-info .info-text h1 {
    font-size: 3.5rem;
}

#header #header-info .info-text p {
    margin: 1rem 0;
    font-size: 1.3rem;
}

#header #header-info .info-text #form {
    margin-top: 0;
}

#header #header-info .info-text #form input[type="text"] {
    width: 28rem;
    height: 5rem;
    margin: 0 auto 2rem auto;
    font-size: 1.3rem;
}

#header #header-info .info-text #form input[type="submit"] {
    padding: 0;
    width: 28rem;
    height: 5rem;
}

#header #header-info .info-icon img {
    width: 13rem;
    margin-left: 6rem;
    margin-top: 2rem;
}

#header #header-logos {
    min-width: auto;
}

#header #header-logos .logos {
    width: auto;
}

#header #header-logos > div:last-of-type i {
    font-size: 1.6rem;
}

#about-us {
    margin: 7rem 0;
}

#about-us .about-wrapper {
    grid-template-columns: 1fr;
}

#about-us .about-boxes {
    order: 1;
}

#about-us .about-boxes .x-box {
    display: none;
}


#about-us .about-boxes .review-box {
    width: 50rem;
    position: relative;
    margin: 5rem auto;
}



#about-us .about-texts h6,
#works  h6 {
    margin-top: 0;
}

#about-us .about-texts h6,
#about-us .about-texts h2 {
    text-align: center;
}

#about-us .about-texts > p {
    padding: 0 6rem;
}

#about-us .about-texts .img-val {
    margin: 0 auto;
}

#works .h-text {
    text-align: center;
}

#works .works-box {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 1rem 0;
}

#works .works-box h2 {
    padding-right: 0;
}

#works .works-box .w-bx {
    display: flex;
    justify-content: center;
}

#works .works-box .w-bx > p {
    font-size: 1.5rem;
    flex-basis: 25rem;
    margin-right: 3rem;
}

#works .works-box .w-bx > span {
    display: none;
}

#works .works-box .w-bx .img-val .img-canc {
    align-self: center;
}

#works .works-box .w-bx .img-val .img-canc img {
    width: 4rem;
}

#works .works-box .w-bx .img-val {
    justify-content: space-evenly;
}

#works .features .img {
    display: none;
}

#works .features #features-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    height: auto;
    margin-bottom: 10rem;
}

#works .features .features-box {
    border-bottom: 0;
    height: auto;
}

#works .features .features-box > * {
    margin: 1rem 0;
}

#works .features #features-wrapper .features-box:nth-child(even) {
    margin-top: 0;
}

#works .features #features-wrapper .features-box:nth-child(1),
#works .features #features-wrapper .features-box:nth-child(2),
#works .features #features-wrapper .features-box:nth-child(3),
#works .features #features-wrapper .features-box:nth-child(4) {
    padding: 2rem;
}


#works .features .features-box h3 {
    font-size: 2rem;
}

#works .features .features-box p {
    font-size: 1.2rem;
    line-height: 2;
}

#coverage .placeholder {
    display: none;
}

#coverage .coverage-box {
    height: auto;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 5rem;
    position: relative;
}

#coverage .coverage-box h2,
#coverage .coverage-box h6 {
    text-align: center;
}

#coverage .coverage-box i {
    font-size: 1.5rem;
}

#coverage .coverage-box small {
    margin-right: 3rem;
}

#coverage .coverage-box small:last-of-type {
    margin-bottom: 2rem;
}

#coverage .coverage-box  > span {
    margin-bottom: 2rem;
}

#coverage .coverage-box .img-val {
    margin-bottom: 0;
}

#pricing {
    margin-top: 10rem;
}

#pricing .container-sm > p {
    font-size: 1.5rem;
    margin: 0 3rem;
}

#pricing .pricing-box {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem 1rem;
    margin-top: 10rem;
    height: auto;
}

#pricing .pricing-box .price-box {
    padding: 4rem;
    width: 26rem;
    margin: 0 auto;
}

#pricing .pricing-box > div:nth-child(even) {
    order: -1;
    grid-column: 1 / span 2;
}

#car {
    margin-top: 10rem;
}

#car .car-info .car-info-main {
    width: auto;
    padding: 3rem;
}

#car .car-info .car-info-main h2,
#car .car-info .car-info-main h6 {
    text-align: center;
}

#car .car-info .car-info-main p {
    padding-right: 0;
}

#car .car-info .car-info-main > p span {
    width: 0;
    display: inline-block;
}

#car .car-info .car-info-main p:last-child {
    margin-top: -1rem;
}

#car .car-join {
    flex-direction: column;
}

#car .car-join .heading-text {
    width: auto;
    margin: 1rem 0;
    font-size: 1.7rem;
}

#car .car-join .btn {
    padding: 1rem 10rem;
    height: 4rem;
    margin-bottom: 2rem;
}

#car .car-box {
    display: none;
}

#footer .footer-nav {
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 0;
    text-align: center;
}

#footer .footer-nav .footer-nav-items {
    width: 32%;

}

#footer .footer-nav .footer-nav-items h6 {
    font-size: 1.2rem;
    line-height: 4;
}

#footer .footer-nav .footer-nav-items:last-child {
    width: 90%;
    margin: 1rem auto;
}

#footer .footer-nav .footer-nav-items:last-child h6 {
    margin-left: -2rem;
}

#footer .footer-logos {
    grid-gap: 2rem;
    width: 55rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    
}


@media screen and (max-width: 500px) {
    #header #header-info {
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
    }

    #header #header-info .info-icon,
    #header #header-logos {
        display: none;
    }

    #about-us .about-boxes .review-box {
        width: 95%;
        padding: 1rem;
        margin: 2rem auto;
    }

    #about-us .about-boxes .review-box > div {
        padding: 0 1.35rem;
    }
    
    #about-us .about-boxes .review-box > div:first-child {
        border-left: 0;
        font-size: 1.3rem;
    }
    
    #about-us .about-boxes .review-box > div:last-child {
        grid-gap: 2rem;
    }
    
    #about-us .about-boxes .review-box .rating .info {
        font-size: 1.3rem;
    }
    
    #about-us .about-boxes .review-box .rating .info img {
        width: 4rem;
    }
    
    #about-us .about-boxes .review-box .review .stars i {
        font-size: 1.3rem;
    }

    #about-us .about-texts h6,
    #about-us .about-texts h2 {
        text-align: left;
    }

    #about-us .about-texts > p {
        padding: 0;
    }

    #about-us .about-texts .img-val {
        margin: 0;
    }

    #works .h-text {
        text-align: left;
    }

    #works .works-box .w-bx {
        flex-direction: column;
        justify-content: center;
    }

    #works .works-box .w-bx > p {
        flex-basis: 0;
        margin-right: 0;
    }
    
    #works .works-box .w-bx > span {
        display: block;
        margin: 2rem 0;
    }
    
    #works .works-box .w-bx .img-val .img-canc {
        align-self: center;
    }
    
    #works .works-box .w-bx .img-val .img-canc img {
        width: 4rem;
    }
    
    #works .works-box .w-bx .img-val {
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    #works .features #features-wrapper {
        grid-template-columns: 1fr;
    }

    #works .features .features-box {
        border-bottom: 2px solid var(--primary-color);
    }

    #coverage .coverage-box {
        padding: 3rem 1.5rem;
    }

    #coverage .coverage-box h2,
    #coverage .coverage-box h6 {
        text-align: left;
    }

    #coverage .coverage-box h5 {
        font-size: 1.2rem;
        margin-left: 2rem;
    }

    #coverage .coverage-box small {
        font-size: 1.2rem;
        margin: 1rem 2rem 1rem 4rem;
    }

    #pricing .pricing-box {
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }

    #pricing .pricing-box > div:nth-child(even) {
        order: 0;
        grid-column: 1;
    }

    #car {
        margin-top: 5rem;
    }
    
    #car .car-info .car-info-main {
        padding: 3rem 1rem;
    }
    
    #car .car-info .car-info-main h2,
    #car .car-info .car-info-main h6 {
        text-align: left;
    }

    #car .car-join {
        padding: 1rem;
    }

    #car .car-join .btn {
        padding: 1rem 8rem;
        margin-bottom: 1rem;
    }

    #footer .footer-nav {
        padding: 3rem;
        flex-flow: column nowrap;
        text-align: center;

    }
    
    #footer .footer-nav .footer-nav-items {
        width: 100%;
    
    }
    
    #footer .footer-nav .footer-nav-items:last-child {
        width: 100%;
        margin: 0;
    }
    
    #footer .footer-nav .footer-nav-items:last-child h6 {
        margin-left: 0;
    }
    
    #footer .footer-nav .footer-nav-items input[type="email"] {
        width: 90%;
    }

    #footer .footer-logos {
        grid-gap: 2rem;
        grid-template-columns: 1fr;
        width: 100%;
        padding: 3rem;
        text-align: center;
    }
    
    #footer .footer-logos img   {
        margin: 0 auto;
    }
    
}