
.heading-text {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.h-text span {
    width: 4rem;
    display: inline-block;
    background-color: var(--grey-color);
    height: .17rem;
    margin: .3rem 1rem;
}

.line {
    width: 100%;
}

#header {
    min-width: 100%;
}

#header #navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
}

#header #navigation img {
    align-self: center;
}

#header #navigation label {
    display: block;
}

#header #navigation label i {
    font-size: 4rem;
}


#header #navigation #navbar {
    display: flex;
    flex-direction: column;
    width: 93%;
    padding: 1rem;
    position: absolute;
    margin-top: 5rem;
    background-color: var(--seconday-color);
    opacity: 0.9;
    /* transition: transform 1.5s ease-in-out ; */
    transform: translateX(-100rem);
}

#header #navigation #navbar .main-nav,
#header #navigation #navbar .sec-nav,
#header #navigation #navbar .auth-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    text-align: center;
    width: inherit;
}

#header #navigation #navbar .main-nav li,
#header #navigation #navbar .sec-nav li,
#header #navigation #navbar .auth-nav li {
    padding: 1rem 0;
}

#header #navigation #navbar .main-nav li a,
#header #navigation #navbar .sec-nav li a,
#header #navigation #navbar .auth-nav li a {
    color: var(--primary-color);
}

#header #navigation #navbar .main-nav li:first-of-type a {
    color: var(--primary-color);
    font-weight: 600;
}

#header #navigation #navbar .main-nav li a i {
    display: none;
}

#header #navigation #navbar .sec-nav {
    grid-template-columns: 1fr;
    padding: 0;
}

#header #navigation #navbar .auth-nav {
    grid-template-columns: 1fr;
    padding: 0;
    grid-gap: 0;
    align-items: initial;
}

#header #navigation #navbar .auth-nav li .btn {
    display: inline-block;
    border: none;
    padding: 0;
    background-color: var(--seconday-color);
    border-radius: 0;
    color: var(--primary-color);
    width: inherit;
}

#header #navigation #hamburger:checked + #navbar {
    transform: translateX(0);

}

#header #header-info {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

#header #header-info .info-text h1 {
    font-size: 3.5rem;
}

#header #header-info .info-text p {
    margin: 1rem 0;
    font-size: 1.3rem;
}

#header #header-info .info-text #form {
    margin-top: 0;
}

#header #header-info .info-text #form input[type="text"] {
    width: 28rem;
    height: 5rem;
    margin: 0 auto 2rem auto;
    font-size: 1.3rem;
}

#header #header-info .info-text #form input[type="submit"] {
    padding: 0;
    width: 28rem;
    height: 5rem;
}

#header #header-info .info-icon img {
    width: 13rem;
    margin-left: 6rem;
    margin-top: 2rem;
}

#header #header-logos {
    min-width: auto;
}

#header #header-logos .logos {
    width: auto;
}

#header #header-logos > div:last-of-type i {
    font-size: 1.6rem;
}

#about-us {
    margin: 7rem 0;
}

#about-us .about-wrapper {
    grid-template-columns: 1fr;
}

#about-us .about-boxes {
    order: 1;
}

#about-us .about-boxes .x-box {
    display: none;
}


#about-us .about-boxes .review-box {
    width: 50rem;
    position: relative;
    margin: 5rem auto;
}



#about-us .about-texts h6,
#works  h6 {
    margin-top: 0;
}

#about-us .about-texts h6,
#about-us .about-texts h2 {
    text-align: center;
}

#about-us .about-texts > p {
    padding: 0 6rem;
}

#about-us .about-texts .img-val {
    margin: 0 auto;
}


@media screen and (max-width: 500px) {
    #header #header-info {
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
    }

    #header #header-info .info-icon,
    #header #header-logos {
        display: none;
    }

    #about-us .about-boxes .review-box {
        width: 95%;
        padding: 1rem;
        margin: 2rem auto;
    }

    #about-us .about-boxes .review-box > div {
        padding: 0 1.35rem;
    }
    
    #about-us .about-boxes .review-box > div:first-child {
        border-left: 0;
        font-size: 1.3rem;
    }
    
    #about-us .about-boxes .review-box > div:last-child {
        grid-gap: 2rem;
    }
    
    #about-us .about-boxes .review-box .rating .info {
        font-size: 1.3rem;
    }
    
    #about-us .about-boxes .review-box .rating .info img {
        width: 4rem;
    }
    
    #about-us .about-boxes .review-box .review .stars i {
        font-size: 1.3rem;
    }

    #about-us .about-texts h6,
    #about-us .about-texts h2 {
        text-align: left;
    }

    #about-us .about-texts > p {
        padding: 0;
    }

    #about-us .about-texts .img-val {
        margin: 0;
    }
}