:root {
    --primary-color: #f5f5f7;
    --seconday-color: #333456;
    --light-color: #fff;
    --grey-color: #d3d3d3;
    --max-width: 1140px;
    --width: 960px;
    --font-size: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #d3d3d3;
}

p {
    padding: .3rem 0;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}

.h-text {
    font-size: 1.1rem;
}

.h-text span {
    width: 4rem;
    display: inline-block;
    background-color: var(--grey-color);
    height: .17rem;
    margin: .3rem 1rem;
}

.line {
    display: block;
    height: .1rem;
    background: var(--primary-color);
    width: 36rem;
    margin: 3rem 0;
}

.img-val {
    display: flex;
    width: 29rem;
    justify-content: space-between;
}

.img-val img {
    width: 6rem;
}

.img-val .values {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 22rem;
    align-content: center;
}

.img-val .values .bold {
    font-weight: bold;
    margin-right: 1rem;
}

.sec-container {
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 1rem;
    overflow: hidden;
}

#header {
    background-color: var(--primary-color);
    min-width: 128rem;
}

#header #navigation {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#header #navigation img {
    align-self: center;
}


#header #navigation #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header #navigation #navbar .main-nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    text-align: center;
    width: 25rem;
}

#header #navigation #navbar .main-nav li {
    padding: 1rem;
}

#header #navigation #navbar .main-nav li:first-of-type a {
    color: #333;
}

#header #navigation #navbar .main-nav li a i {
    font-size: 1.4rem;
    color: var(--grey-color);
}

#header #navigation #navbar .main-nav li:first-of-type a i {
    color: #a9a9a9;
}

#header #navigation #navbar .sec-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .7rem;
    font-size: 1.5rem;
}

#header #navigation #navbar .auth-nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    width: 22rem;
    grid-gap: 3.95rem;
}

#header #navigation #navbar .auth-nav li:first-of-type {
    margin-left: 0;
}

.btn {
    display: inline-block;
    border: none;
    padding: 1.4rem 2.5rem;
    background-color: #d3d3d3;
    border-radius: 6rem;
    color: #a9a9a9;
}

#header #header-info {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 10rem;
    margin-bottom: 15rem;
}

#header #header-info .info-text h1 {
    font-size: 5.5rem;
}

#header #header-info .info-text p {
    margin: 1.5rem 0;
    font-size: 1.63rem;
}

#header #header-info .info-text #form {
    margin-top: 3rem;
}

#header #header-info .info-text #form input[type="text"] {
    width: 25rem;
    height: 6rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    background: transparent;
}

#header #header-info .info-text #form input[type="submit"] {
    padding: 2.5rem 5rem;
    background-color: var(--seconday-color);
    color: var(--light-color);
}

#header #header-info .info-icon img {
    width: 15rem;
    margin-left: 8rem;
    margin-top: 4rem;
}

#header #header-logos {
    display: grid;
    grid-template-columns: 5fr 1fr;
    min-width: 128rem;
    max-width: 144rem;
    margin: auto;
    background-color: var(--light-color);
}

#header #header-logos .logos {
    width: 95rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#header #header-logos .logos img {
    width: 100%;
}

#header #header-logos > div:last-of-type {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-us {
    margin: 15rem 0;
}

#about-us .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about-us .about-boxes .x-box {
    height: 45rem;
    position: relative;
}

#about-us .about-boxes .x-box .img-box {
    height: inherit;
    background: var(--primary-color);
    width: 35rem;
    padding: 10rem 13rem;
}

#about-us .about-boxes .x-box .img-box img {
    width: 10rem;
}

#about-us .about-boxes .review-box {
    background: var(--seconday-color);
    color: var(--light-color);
    width: 43rem;
    padding: 3rem;
    position: absolute;
    margin: -16rem 0 0 5rem;
}

#about-us .about-boxes .review-box > div {
    padding: 0 2.8rem;

}

#about-us .about-boxes .review-box > div:first-child {
    border-left: 2px solid var(--primary-color);
    font-size: 1.34rem;
    line-height: 1.5;
}

#about-us .about-boxes .review-box > div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    margin-top: 2rem;
}

#about-us .about-boxes .review-box .rating .info {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
}

#about-us .about-boxes .review-box .rating .info img {
    width: 5rem;
    margin-right: 1rem;
}

#about-us .about-boxes .review-box .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#about-us .about-boxes .review-box .review .stars i {
    font-size: 1.4rem;
}

#about-us .about-boxes .review-box .review small {
    font-size: 1rem;
    color: #d3d3d3;
}


#about-us .about-texts h6,
#works  h6 {
    margin-top: 5rem;
}

#about-us .about-texts h2 {
    font-size: 3.8rem;
    margin: 1rem 0;
}

#about-us .about-texts > p {
    font-size: 1.55rem;
    padding-right: 12rem;
    line-height: 1.5;
    color: #d3d3d3;
}

#about-us .about-texts .img-val .values p:first-of-type {
    flex-basis: 100%;
    color: #d3d3d3;
}

#works {
    background-color: #fbfbfc;
}

#works .works-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin: 3rem 0;
}

#works .works-box h2 {
    font-size: 3rem;
    padding-right: 10rem;
}

#works .works-box .w-bx > p {
    font-size: 1.7rem;
    color: #686883;
}
