:root {
    --primary-color: #f5f5f7;
    --seconday-color: #333456;
    --light-color: #fff;
    --grey-color: #d3d3d3;
    --max-width: 1140px;
    --width: 960px;
    --font-size: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #d3d3d3;
}

p {
    padding: .3rem 0;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}

.container-sm {
    max-width: var(--width);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    border: none;
    padding: 1.4rem 2.39rem;
    background-color: #d3d3d3;
    border-radius: 6rem;
    color: #a9a9a9;
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.h-text {
    font-size: 1.1rem;
}

.heading-text {
    font-size: 3.5rem;
    margin: 2rem 0;
}

.h-text span {
    width: 4rem;
    display: inline-block;
    background-color: var(--grey-color);
    height: .17rem;
    margin: .3rem 1rem;
}

.line {
    display: block;
    height: .1rem;
    background: var(--primary-color);
    width: 36rem;
    margin: 3rem 0;
}

.img-val {
    display: flex;
    width: 29rem;
    justify-content: space-between;
}

.img-val img {
    width: 6rem;
}

.img-val .values {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 22rem;
    align-content: center;
}

.img-val .values .bold {
    font-weight: bold;
    margin-right: 1rem;
}

.sec-container {
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 1rem;
    overflow: hidden;
}

#header {
    background-color: var(--primary-color);
    min-width: 128rem;
}

#header #navigation {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#header #navigation img {
    align-self: center;
}


#header #navigation #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header #navigation #navbar .main-nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    text-align: center;
    width: 25rem;
}

#header #navigation #navbar .main-nav li {
    padding: 1rem;
}

#header #navigation #navbar .main-nav li:first-of-type a {
    color: #333;
}

#header #navigation #navbar .main-nav li a i {
    font-size: 1.4rem;
    color: var(--grey-color);
}

#header #navigation #navbar .main-nav li:first-of-type a i {
    color: #a9a9a9;
}

#header #navigation #navbar .sec-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .7rem;
    font-size: 1.5rem;
}

#header #navigation #navbar .auth-nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    width: 22rem;
    grid-gap: 3.95rem;
}

#header #navigation #navbar .auth-nav li:first-of-type {
    margin-left: 0;
}

#header #header-info {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 10rem;
    margin-bottom: 15rem;
}

#header #header-info .info-text h1 {
    font-size: 5.5rem;
}

#header #header-info .info-text p {
    margin: 1.5rem 0;
    font-size: 1.63rem;
}

#header #header-info .info-text #form {
    margin-top: 3rem;
}

#header #header-info .info-text #form input[type="text"] {
    width: 25rem;
    height: 6rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    background: transparent;
}

#header #header-info .info-text #form input[type="submit"] {
    padding: 2.5rem 5rem;
    background-color: #817b9b;
    color: var(--light-color);
}

#header #header-info .info-icon img {
    width: 15rem;
    margin-left: 8rem;
    margin-top: 4rem;
}

#header #header-logos {
    display: grid;
    grid-template-columns: 5fr 1fr;
    min-width: 128rem;
    max-width: 144rem;
    margin: auto;
    background-color: var(--light-color);
}

#header #header-logos .logos {
    width: 95rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#header #header-logos .logos img {
    width: 100%;
}

#header #header-logos > div:last-of-type {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-us {
    margin: 15rem 0;
}

#about-us .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about-us .about-boxes .x-box {
    height: 45rem;
    position: relative;
}

#about-us .about-boxes .x-box .img-box {
    height: inherit;
    background: var(--primary-color);
    width: 35rem;
    padding: 10rem 13rem;
}

#about-us .about-boxes .x-box .img-box img {
    width: 10rem;
}

#about-us .about-boxes .review-box {
    background: var(--seconday-color);
    color: var(--light-color);
    width: 43rem;
    padding: 3rem;
    position: absolute;
    margin: -16rem 0 0 5rem;
}

#about-us .about-boxes .review-box > div {
    padding: 0 2.8rem;

}

#about-us .about-boxes .review-box > div:first-child {
    border-left: 2px solid var(--primary-color);
    font-size: 1.34rem;
    line-height: 1.5;
}

#about-us .about-boxes .review-box > div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    margin-top: 2rem;
}

#about-us .about-boxes .review-box .rating .info {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
}

#about-us .about-boxes .review-box .rating .info img {
    width: 5rem;
    margin-right: 1rem;
}

#about-us .about-boxes .review-box .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#about-us .about-boxes .review-box .review .stars i {
    font-size: 1.4rem;
}

#about-us .about-boxes .review-box .review small {
    font-size: 1rem;
    color: #d3d3d3;
}


#about-us .about-texts h6,
#works  h6 {
    margin-top: 5rem;
}

#about-us .about-texts > p {
    font-size: 1.55rem;
    padding-right: 12rem;
    line-height: 1.5;
    color: #686883;
}

#about-us .about-texts .img-val .values p:first-of-type {
    flex-basis: 100%;
    color: #d3d3d3;
}

#works {
    background-color: #fdfdfd;
}

#works .works-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin: 3rem 0;
}

#works .works-box h2 {
    padding-right: 9rem;
    margin: 0;
}

#works .works-box .w-bx > p {
    font-size: 1.7rem;
    color: #686883;
}

#features {
    background-color: #fcfcfc;
}

#features .container {
    position: relative;
}

#features .container .img {
    position: absolute;
    width: 15rem;
}

#features .container .img-1 {
    margin-top: -35rem;
    margin-left: 20rem;
}

#features .container .img-2 {
    margin-top: -39rem;
    margin-left: 47rem;
}

#features .container .img-3 {
    margin-top: -35rem;
    margin-left: 76rem;
}

#features #features-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    height: 37rem;
    margin-bottom: 12rem;
}

#features .features-box {
    border-bottom: 2px solid var(--primary-color);
    text-align: center;
    height: 32rem;
}

#features .features-box > * {
    margin: 1.5rem 0;
}

#features #features-wrapper .features-box:nth-child(even) {
    margin-top: 4rem;
}

#features #features-wrapper .features-box:nth-child(1) {
    padding: 6rem 3rem;
}

#features #features-wrapper .features-box:nth-child(2) {
    padding: 6rem 5rem;
}

#features #features-wrapper .features-box:nth-child(3) {
    padding: 6rem 2rem;
}

#features #features-wrapper .features-box:nth-child(4) {
    padding: 6rem 1.1rem;
}

#features .features-box h3 {
    font-size: 3rem;
}

#features .features-box p {
    font-size: 1.34rem;
    line-height: 1.55;
    color: #6d6d88;
}

#coverage {
    background: #fbfbfb;
}

#coverage .container {
    display: flex;
}

#coverage .placeholder {
    height: 68rem;
    width: 44rem;
    background-color: var(--grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#coverage .placeholder img {
    width: 10rem;
}

#coverage .coverage-box {
    height: 68rem;
    width: 74rem;
    margin-left: 36rem;
    margin-top: 8rem;
    background-color: var(--seconday-color);
    color: var(--grey-color);
    padding: 12rem 17rem;
    position: absolute;
}

#coverage .coverage-box h2,
#coverage .coverage-box h5 {
    color: var(--light-color);
}

#coverage .coverage-box > p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#coverage .coverage-box i {
    font-size: 1.5rem;
}

#coverage .coverage-box h5 {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2.5rem;
}

#coverage .coverage-box small {
    display: block;
    font-size: 1.39rem;
    margin: 1rem 4rem 1rem 4.2rem;
    line-height: 2;
}

#coverage .coverage-box small:last-of-type {
    margin-bottom: 6rem;
}

#coverage .coverage-box  > span {
    margin-bottom: 3rem;
    background: #909090;
}

#coverage .coverage-box .img-val {
    margin-bottom: 3rem;
}

#coverage .coverage-box .img-val .img-canc img {
    width: 4rem;
}

#coverage .coverage-box .img-val .values p {
    padding: 0;
}

#coverage .coverage-box .img-val .values p:first-of-type {
    flex-basis: 100%;
    color: #d3d3d3;
}

#coverage .coverage-box .img-val .values i ,
#coverage .coverage-box .img-val .values p:last-of-type {
    color: var(--light-color);
}

#pricing {
    margin-top: 25rem;
    text-align: center;
}

#pricing .container-sm > p {
    font-size: 1.65rem;
    margin: 0 10.57rem;
    line-height: 2;
}

#pricing .pricing-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7.5rem;
    margin-top: 10rem;
    height: 50rem;
}

#pricing .pricing-box .price-box {
    padding: 4.18rem;
}

#pricing .pricing-box .price-box h3 {
    font-size: 2rem;
}

#pricing .pricing-box .price-box p,
#pricing .pricing-box .price-box div a {
    font-size: 1.2rem;
    line-height: 2;
}

#pricing .pricing-box .price-box p span {
    font-size: 3rem;
}

#pricing .pricing-box .price-box > span {
    width: 100%;
    background: var(--grey-color);
}

#pricing .pricing-box .price-box .btn {
    margin: 2rem 0;
    background: #817b9b;
    color: var(--primary-color);
}

#pricing .pricing-box .price-box div {
    display: flex;
    justify-content: center;
}

#pricing .pricing-box .price-box div a {
    font-weight: bold;
    color: #333;
}

#pricing .pricing-box > div:nth-child(odd) {
    margin-top: auto;
    border: 1px solid #817b9b;
    height: 45rem;
}

#pricing .pricing-box > div:nth-child(even) {
    height: inherit;
    border-top: 2px solid #817b9b;
    -webkit-box-shadow: 0px 10px 20px 10px rgba(211,211,211,1);
    -moz-box-shadow: 0px 10px 20px 10px rgba(211,211,211,1);
    box-shadow: 0px 10px 20px 10px rgba(211,211,211,1);
}

#pricing .pricing-box > div:nth-child(even) h6 {
    font-size: .9rem;
    margin: 1.8rem 0;
}

#pricing .pricing-box > div:last-child p:last-of-type {
    margin: 0 -.6rem;
}

#car {
    background: var(--primary-color);
    margin-top: 15rem;
}



#car .car-info .car-info-main {
    width: 40rem;
    padding: 15rem 0;
}

#car .car-info .car-info-main p {
    font-size: 1.4rem;
    line-height: 2;
    padding-right: 8.3rem;
}

#car .car-join {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
}

#car .car-join .heading-text {
    width: 50rem;
    margin: 10rem 0;
}

#car .car-join .btn {
    padding: 1.5rem 8rem;
    height: 5rem;
    background: #817b9b;
    color: var(--primary-color);
}

#car .container {
    position: relative;
    overflow: visible;
}

#car .car-box {
    position: absolute;
    background: #a49fb6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#car .car-box img {
    width: 10rem;
}

#car .box-1 {
    height: 45rem;
    width: 47rem;
    margin-left: 65rem;
    margin-top: -8rem;
}

#car .box-2 {
    height: 29.5rem;
    width: 23rem;
    margin-left: 65rem;
    margin-top: 40rem;
}

#car .box-3 {
    height: 23rem;
    width: 27rem;
    margin-left: 91rem;
    margin-top: 40rem;
}
